<?xml version="1.0"?>
<config>
    <modules>
        <Devopensource_CacheAuto>
            <version>0.1.0</version>
        </Devopensource_CacheAuto>
    </modules>
    <global>
        <models>
            <devopen_cacheauto>
                <class>Devopensource_CacheAuto_Model</class>
            </devopen_cacheauto>
        </models>
        <blocks>
            <devopen_cacheauto>
                <class>Devopensource_CacheAuto_Block</class>
            </devopen_cacheauto>
        </blocks>
        <helpers>
            <devopen_cacheauto>
                <class>Devopensource_CacheAuto_Helper</class>
            </devopen_cacheauto>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <devopen_cacheauto>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>devopen_cacheauto/observer::refreshCache</model>
                </run>
            </devopen_cacheauto>
        </jobs>
    </crontab>
</config>